<!-- consultas.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Página</title>
  <link rel="stylesheet" type="text/css" href="/css/estiloconsultas.css">
</head>
<body>
<section class="dashboard-section">
    <h2>Contenido de Usuarios</h2>
    <p>Explora y administra usuarios aquí.</p>
  </section>

</body>
</html> 
</body>
</html>
