<!-- register.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Página</title>
  <!-- Enlace al archivo CSS -->
  <link rel="stylesheet" type="text/css" href="/css/estiloregister.css">
</head>
<body>
  <div class="login-container">
<h1>Registro</h1>
<form action="/register" method="post">
  <input type="text" name="username" placeholder="Nombre de usuario" required>
  <input type="password" name="password" placeholder="Contraseña" required>
  <button type="submit">Registrarse</button>
</form>
</div>
</body>
</html>
